<form action="/records/{{ records._id }}?_method=PUT" method="POST">
  <input type="text" placeholder="name" name="name" value="{{ records.name }}">
  <input type="date" placeholder="date" name="date" value="{{ records.date }}">
  <select class="form-select" id="categoryId" name="categoryId" value="{{ records.categoryId }}" onchange="">
    <option disabled selected>類別</option>
    <option value="1">飲食</option>
    <option value="2">交通</option>
    <option value="3">娛樂</option>
    <option value="4">日用品</option>
    <option value="5">其他</option>
  </select>
  <input type="number" placeholder="amount" name="amount" value="{{ records.amount }}">
  <button type="submit">Save</button>
  <div>
    <a href="/">back</a>
  </div>
</form>